@import url('fonts.css');
@import url('general.css');
@import url('sections.css');


/* //////////////////////////////////////////////// */
/* ELEMENTS/CLASSES */
.void-header {
    height: var(--header-h);
    background-color: black;
}
.shaded {
    box-shadow: 1px 1px 1px 1px black;
}
.rect-button {
    padding: 0.4em 1.4em;
    border: 1px solid white;
    background-color: #ffffff0a;
    color: white;
}
.hidden {
    visibility: hidden;
    z-index: -10;
}
.active-navlink {
    border-bottom: 1px solid white;
}


/* FX */
.rect-button:hover {
    transition: background-color 1s cubic-bezier(.68,-0.55,.18,2.02);
    background-color: #ffffff3b;
}
.card-button:hover {
    animation-duration: 0.5s;
    animation-name: btn-hover;
}
#home-container ul:hover, #home-container h1:hover, #home-container h2:hover {
    transition: letter-spacing 0.8s;
    letter-spacing: 0.15em;
}

@keyframes btn-hover {
    10% {background-color: black;}
    50% {background-color: #ffffff18;}
    100% {background-color: black;}
}


